*{
    margin: 0;
    padding: 0;
}
html, body {
    height: auto !important;
    text-decoration: none;
}

body{
    background-image: url("images/Vector.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
    height: auto!important;
    width: 100%;
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 2%;
}
/* ingame exchanger */
.screenTextContainer{
    width:135px;
    /* height: 30px; */
    font-weight: bold;
    background: #caedee;
    box-shadow: 0px 4px 18px rgb(0 0 0 / 65%);
    border-radius: 22px;
    margin-top: 5%;
    margin-left: 47%;
    padding: .3rem;
    text-align: center;
}
.text-name{
    text-align: center;
    padding: 0.3rem;
    width: 100%;
}


/* coming soon start */
.resources-container{
    display: flex !important;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    background-color: #d2c294;
    width: 50%;
    margin-left: 30%;
    border-radius: 22px;
    text-align: justify;
    padding: 20px;
    margin-top: 2%;
}
.resources-container .resources-first{
    /* width: 50%; */
    display: flex;
    padding: 3px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: column;
}
.text{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
}
.first-column{
    width: 100%;
    display: flex;
    border-radius: 9px;
    justify-content: space-evenly;
    background-color: #b0a472;
}


.table {
    caption-side: bottom;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}
tbody, td, tfoot, th, thead, tr {
    border-style: none !important;
}
.table>:not(caption)>*>* {
    padding: 0!important;
}

.table .resources-icon{
    width:29px;
    height: 30px;
}
.table tbody tr td .coming-soon-div{
    width: 100px;
    border-radius: 4px;
    margin: 4px;
    background-color: #b0a472;
}
.text-enter-amount{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.resources-container .resources-second{
    width: 50%;
    display: flex;
    padding: 3px;
    flex-direction: row;
    justify-content: space-evenly;
}
.second-column{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* coming soon end */
/* mat start */
.section-mat{
    margin-top: -18px;
}
.section-mat .container{
    display:block;
    width: 90%;
    margin-bottom: 4%;
}

.mat-image{
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
    height: auto;
    width: 100%; 
}
/* mat end */
/* homeIconContainer start */
.homeIconContainer{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.row{
    --bs-gutter-x: 1.5rem !important;
}
.icons{
    height:50px;
    width: 50px;
}
.iconName{
    padding: 8px;
    text-transform: uppercase;
    font-size: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    color: white;
}
/* homeIconContainer end */
/* fade effect */
.row div{
    opacity: 0.6;
}
#fadeOut{
    opacity: 1;
}
@media(max-width:678px){
    .screenTextContainer{
        margin-left: 45%;
    }
    .resources-container {
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:578px){
    .screenTextContainer{
        margin-left: 43%;
    } 
}
@media(max-width:478px){
    .screenTextContainer{
        margin-left: 40%;
    } 
}
@media(max-width:425px){
    .screenTextContainer{
        margin-left: 35%;
    } 
}
@media(max-width:340px){
    .screenTextContainer{
        margin-left: 32%;
    } 
}